body {
    background-color: rgb(238, 238, 238);
    text-align: center;
    color: black;
}


p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

img {
    height: 400px;
    width: 800px;
}